<div class="parent" id="navbar1">
  <div class="box1">
      <p style="color: aqua;">◦•●◉✿ 𝕧𝔸𝕚𝐁𝓗𝕒𝓿 𝓀𝐀Ⓓ𝕌ş ✿◉●•◦</p>
  </div>
      <div class="navbar">
          <ul>
              <li><a href="./index.html" target="_self">Home</a></li>
              <li><a href="./About.html" target="_blank">About Me</a></li>
              <li><a href="./Skills.html" target="_blank">Skills</a></li>
              <li><a href="./Projects.html" target="_blank">Projects</a></li>
              <li><a href="./Resume.html" target="_blank">Resume</a></li>
          </ul>
  </div>
</div>