<div class="parent" id="navbar1">
  <div class="box1">
      <p style="color: aqua;">◦•●◉✿ 𝕧𝔸𝕚𝐁𝓗𝕒𝓿 𝓀𝐀Ⓓ𝕌ş ✿◉●•◦</p>
  </div>
      <div class="navbar">
          <ul>
              <li><a href="" target="">Home</a></li>
              <li><a href="" target="">About Me</a></li>
              <li><a href="" target="">Skills</a></li>
              <li><a href="" target="">Projects</a></li>
              <li><a href="" target="">Resume</a></li>
          </ul>
  </div>
</div>
<div class="parent2" >
  <div class="section1">
      <section id="introduction">
          <h1 style="color: white; font-size: 20px;">Hi, I'm <B style="color: aquamarine; font-size: 30px;">Vaibhav!</B></h1>
          <p class="intro">
            I'm a passionate <b style="color: aquamarine;">Full-Stack Developer</b> with expertise in <b style="color: aquamarine;">Java, HTML, CSS, JavaScript, MySQL, NLP</b>, and <b style="color: aquamarine;">Machine Learning.</b> I thrive on creating innovative solutions that make an impact. With a solid foundation in <b style="color: aquamarine;">Software development</b> and a love for learning, I'm always ready to tackle new challenges.
          </p>
          <p class="intro">
            Welcome to my <b style="color: aquamarine;">portfolio!</b> Explore my projects, where I apply my skills to build dynamic and efficient applications, from a simulated stock trading platform to intelligent chatbots. Let's build the future, one line of code at a time.
          </p>
          <br><br>
         
      </section>
        
  </div>
  <div class="section2">
          <img src="./WhatsApp Image 2024-07-28 at 17.56.02.jpeg" alt="My image" class="vphoto"><br>
</div>    