.parent{
    width: 100% 100vh;
    height: 75px;
    background-color: rgb(61, 59, 59);
    display: flex;
    align-items: center; 
    margin: 0%;
    padding: 0%;
}
.box1{
    width: 25%;
    height: 75px;
    /* background-color:dimgray; */
    text-align: center;
    font-size: 25px;
    color: rgb(119, 239, 239);
}
.navbar{
  
   width: 75%;
    height: 75px;
    /* background-color: dimgray; */
    font-size: 25px;
    color: rgb(6, 236, 159);
   
}
ul{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
 }
 li{
    height: 75px;
    display: flex;
    align-items: center;
}
a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: all 0.50s;
    transform-origin: left;
  }
  
  ul li a:hover:before,
  ul li a:hover:after {
    transform: scaleX(1);
  }
  
  a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: all 0.50s;
    transform-origin: right;
  }
  ul li {
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: rgb(7, 245, 165);
    font-size: 22px;
    padding: 1rem 2rem;
    position: relative;
  }
  .parent2 {
    width: 100%;
    height: 100vh;
    display: flex; /* Add flexbox */
    text-align: center;
    margin-top: 100px;
}
.section1{
    width: 60%;
    height: 100vh;
    justify-content: center;
    /* background-color: rgb(31, 52, 52); */
}
.section2 {
    width: 40%;
    height: 100vh;
    /* background-color: rgb(98, 229, 229); */
    text-align: center;
    margin-top: 80px;
    justify-content: center;
}
.vphoto{
    width: 300px;
    height: 350px; 
    border: 2px solid ;
    border-radius: 50%;
    border-color: black ;
}
.heading{
    text-align: center;
    padding-top: 130px;
    color: #faf9f9;
    font-size: 50px;
  }
  .intro{
    font-size: 25px;
    padding: 10px;
  }
  .fitimage{
    display: flex;
    color: white;
    margin-right: 20px;
  }
  .contactme{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    background-color: aqua;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 3px;
  }
  #about{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;

  }